<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据抓取任务发布平台</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="nav">
    <div class="content w1200">
        <div class="nav_tit">数据抓取任务发布平台</div>
        <div class="nav_register"><span><a href="/register" style="color: yellow">注册</a></span></div>

        <div class="nav_login"><span><a href="/login" style="color: yellow">登录</a></span></div>
    </div>
</nav>
<div class="banner">
    <img src="../static/images/banner.png" alt="">
</div>


<main class="main w1200">
    <div class="main_tit">
        <span>数据发布列表</span>
    </div>


    <div class="main_cont">
        <div class="cont_all">
            <img src="/static/images/logo.png" alt="">
            <div class="cont_introduce">
                <p>提交数据源url:https://www.iconfont.cn/search/index...</p>
                <p>数据类型：数据抓取</p>
                <p><span>发布时间：2018/08/06 17:35:25</span><span>剩余时间：17:35:25</span></p>
            </div>
            <div class="cont_money">
                <span>佣金</span>
                <span>¥2899.00</span>
            </div>
            <div class="cont_piay">
                <span>接单</span>
            </div>

        </div>


    </div>
</main>


<section class="section w1200">
    <ul>
        <li> <</li>
        <li class="active"> 1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li> ></li>
    </ul>
</section>


<div class="cb"></div>
<footer class="footer w1200">
    <p>
        <span>帮助</span>
        <span>隐私</span>
        <span>条款</span>
    </p>
    <p>copyright @ 黑云科技</p>
</footer>
</body>

<script>

    $(function () {
        $.ajax({
            url: "/task",
            contentType: "JSON",
            success: function (data) {
                var ele = "";
                $.each(data, function (i, task) {
                    ele = "<div class=\"main_cont\">\n" +
                        "        <div class=\"cont_all\">\n" +
                        "            <img src=\"/static/images/logo.png\" alt=\"\">\n" +
                        "            <div class=\"cont_introduce\">\n" +
                        "                <p>提交数据源url：" + task.url + "</p>\n" +
                        "                <p>数据类型：" + task.category + "</p>\n" +
                        "                <p><span>发布时间：" + task.publish_time + "</span><span>剩余时间：" + task.left_time + "</span></p>\n" +
                        "            </div>\n" +
                        "            <div class=\"cont_money\">\n" +
                        "                <span>佣金</span>\n" +
                        "                <span>" + task.price + "</span>\n" +
                        "            </div>\n" +
                        "            <div class=\"cont_piay\">\n" +
                        "                <span>接单</span>\n" +
                        "            </div>\n" +
                        "\n" +
                        "\n" +
                        "        </div>\n" +
                        "\n" +
                        "\n" +
                        "    </div>";
                    if (task.status === "待接单") {
                        $(".main").append(ele)
                    }
                })
            }
        })
    });


</script>
</html>