<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>搜索结果</title>
    <link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="sideBox">
        <div class="left_content">
            <div class="personAll">

                <div  class="person active">
                    <p class="personname">马云</p>
                    <p class="personInfo">中国著名书法家中国著名书法家</p>
                </div>
                <div class="person">
                    <p class="personname">马云</p>
                    <p class="personInfo"> 中国著名书法家</p>
                </div>
                <div class="person">
                    <p class="personname">马云</p>
                    <p class="personInfo"> 中国著名书法家</p>
                </div>
                <div class="person">
                    <p class="personname">马云</p>
                    <p class="personInfo"> 中国著名书法家</p>
                </div>
                <div class="person">
                    <p class="personname">马云</p>
                    <p class="personInfo"> 中国著名书法家</p>
                </div>
                <div class="person">
                    <p class="personname">马云</p>
                    <p class="personInfo"> 中国著名书法家</p>
                </div>

                <div class="person">
                    <p class="personname">马云</p>
                    <p class="personInfo"> 中国著名书法家</p>
                </div>
            </div>
            <p>简介</p>
            <div class="introduction tips">
                <div class="showPart">
                    <span>中国首富</span>
                    <span>“中国新首富”</span>
                    <span>“蚂蚁金服实际控制人”</span>
                    <span>“阿里巴巴创始人”</span>
                    <span>中国首富</span>
                    <span>“中国新首富”</span>
                    <span>“蚂蚁金服实际控制人”</span>
                    <span>“阿里巴巴创始人”</span>
                    <p class="upDwon" data-tips="展开" data-id="0"><span class="glyphicon glyphicon-chevron-down"></span></p>
                    <p class="upDwon" data-tips="收起来" data-id="0" style="display: none;"><span class="glyphicon glyphicon-chevron-up"></span></p>
                </div>
            </div>


            <p>相关人物</p>
            <div class="character tips">
                <div class="showPart">
                    <span class="active">董军</span>
                    <span>董军</span>
                    <span>董军</span>
                    <span>董军</span>
                    <span>董军</span>
                    <span>董军</span>
                    <span>董军</span>
                    <span>董军</span>
                    <p  class="upDwon" data-tips="展开" data-id="1"><span class="glyphicon glyphicon-chevron-down"></span></p>
                    <p  class="upDwon" data-tips="收起来" data-id="1" style="display: none;"><span class="glyphicon glyphicon-chevron-up"></span></p>
                </div>
            </div>
            <p>相关机构</p>
            <div class="mechanism tips">
                <div class="showPart">
                    <span class="active">中国艺术研究院</span>
                    <span>美海军研究办公室</span>
                    <span>美海军研究办公室</span>
                    <span>清华大学</span>
                    <span>星球日报</span>
                    <span>美国西密西根大学</span>
                    <span>中央卫视</span>
                    <span>中央卫视</span>
                    <p  class="upDwon" data-tips="展开" data-id="2"><span class="glyphicon glyphicon-chevron-down"></span></p>
                    <p  class="upDwon" data-tips="收起来" data-id="2" style="display: none;"><span class="glyphicon glyphicon-chevron-up"></span></p>
                </div>
            </div>
            <p>相关地点</p>
            <div class="place tips">
                <div class="showPart">
                    <span class="active">美国密歇根</span>
                    <span>山东单县</span>
                    <span>甘肃庆阳</span>
                    <span>清华大学</span>
                    <span>西密西根</span>
                    <p  class="upDwon" data-tips="展开" data-id="3" > <span class="glyphicon glyphicon-chevron-down"></span></p>
                    <p  class="upDwon" data-tips="收起来" data-id="3" style="display: none;"><span class="glyphicon glyphicon-chevron-up"></span></p>
                </div>
            </div>
        </div>
        <div class="right_content">
            <p>信息来源</p>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <div class="info">
                <p class="infoTit">美国西密西西根大学大学杨子江教授来实验室做专题学术报告美国西密西西根大学大学杨子江教授来实验室做专题学术报告</p>
                <p class="infoLink">http://fund.eastmoney.com/ - 3小时前</p>
            </div>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</body>
<script>

$(function(){
    $('.upDwon').click(function(){
     $(this).hide()
     $(this).siblings(".upDwon").show()
     console.log(this.dataset.tips)
     console.log(this.dataset.id)
    })
    $('.person').click(function(){
        $(this).siblings(".person").removeClass("active");
        $(this).addClass("active");
    })
})
</script>
</html>